/* body to overflow to hide extra space */
body {
    overflow-x: hidden;
}

/* Styling home page */
.index {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
}


/* Styling "Order Now" button */
.order-btn {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 250px;
    text-decoration: none;
    border-radius: 5px;
}

/*Styling each menu item in the Menu*/
.menu-item {
    text-align: center;
    margin: 20px 0;
}

/* Styling header */
.header2 {
    display: flex;
    padding: 5px;
}

/* Giving space between 2 links */
.header2 > a{
    margin-right: 10px;
}

/* Styling order page */
.order {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: black;
}

/* CVV section */
.cvv {
    padding-bottom: 20px;
}

/* Place Order button */
.orderBtn {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Styling both headers */
header {
    background-color: black;
    color: white;
    padding: 10px;
}

/* Styling navigation links */
nav ul {
    display: flex;
    padding: 0px;
    margin: -11px;
    justify-content: left;
    font-size: large;
}

li {
    display: inline;
    margin-right: 20px;
}

/* Styling navigation links */
a {
    color: white;
    text-decoration: none;
}

/* Styles for form groups, add spacing between form elements */
.form-group {
    margin-bottom: 10px;
    padding-left: 5px;
}

/* Styling Promo section */
.promo {
    margin-bottom: 10px;
    padding-left: 5px;
}

/* Styling Payment section */
.payment {
    margin-bottom: 10px;
    padding-left: 5px;
}

/* Styling buttons in common */
button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/* Common footer styling */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Add spacing between form groups */
.form-group {
    margin-bottom: 20px;
}

/* Add spacing between elements with class "name" */
.name {
    margin: 20px;
}

/* Styling "Menu" section */
.menu {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

/* Styling welcome section */
.home {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
    width: 105%;
}

/* Styling welcome section's content */
.home-content {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

/* Center the "Menu" heading using Flexbox */
.h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

/* Centered content */
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Place the "Order Now" button at the bottom */
.order-section {
    margin-top: 50px;
    text-align: center;
}

/* Styling "Note" section in contact */
.note {
    color: red;
    font-size: small;
    padding-left: 7px;
    margin-top: -15px;
    margin-bottom: 2px;
}

/* Styling "Note2" under header and tax */
.note2{
    color: red;
    font-size: small;
    padding-left: 2px;
    margin-top: -4px;
}

/* Styling header */
.head {
    text-align: left;
}

/* Styling background image */
.pizza-img {
    background-size: cover;
    background-position: center;
    width: 105%;
    position: absolute;
    z-index: -1;
}

/* Styling "Promo" section */
.pc {
    color: red;
    font-size: x-small;
}